extends layout

block content
  .w3-container.w3-theme-l1
    h1.w3-border-bottom.w3-theme Edit Event
        form.w3-card-4
            span.w3-display-topright.w3-button
            .w3-container.w3-padding-16
                label(for="designation")
                    b designation
                input(type='text', value=event_data.designation, name="designation", id="designation_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                label(for="place")
                    b Place
                input(type='text', value=event_data.place, name="place", id="place_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                label(for="type")
                    b Type
                textarea(cols="30", rows="10" type='type', name='type',id="type_input", style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")= u.type
                    b Info
                input(type='text', value=event_data.info, name="info", id="info_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                    b Date
                input(type='text', value=event_data.date, name="date", id="date_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")

                button.w3-button.w3-theme-d5(id="save-button") Save

    script(src='/javascripts/Admin/users.js')