extends layout

block content
  .w3-container.w3-theme-l1
    h1.w3-border-bottom.w3-theme Edit User
        form.w3-card-4
            span.w3-display-topright.w3-button
            .w3-container.w3-padding-16
                label(for="email")
                    b Email
                input(type='text', value=user.email, name="email", id="email_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                label(for="name")
                    b Name
                input(type='text', value=user.name, name="name", id="name_input", required, style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                label(for="psw")
                    b Password
                input(type='password', placeholder="Enter Password", name='psw', id="password_input", style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;")
                
                div
                    p User Type
                    div
                        input(type="radio" name="user_type" value="0" id="admin_user_type" checked=user.utype == 0)
                        label(for="admin_user_type")
                            b Admin
                    div
                        input(type="radio" name="user_type" value="1" id="producer_user_type" checked=user.utype == 1)
                        label(for="producer_user_type")
                            b Producer
                    div
                        input(type="radio" name="user_type" value="2" id="client_user_type" checked=user.utype == 2)
                        label(for="client_user_type")
                            b Client


                button.w3-button.w3-theme-d5(id="save-button") Save